@model PMRegister
<h2>Kassa Overzicht</h2>
<table>
    <tr class="header">
        <td>@Html.LabelFor(a => a.RegisterName)</td>
        <td>@Html.LabelFor(a => a.Device)</td>
        <td>@Html.LabelFor(a => a.PurchaseDate)</td>
        <td>@Html.LabelFor(a => a.ExpireDate)</td>
    </tr>
    @foreach (var item in @ViewBag.Register)
    {
        <tr class="item">
            <td>@item.RegisterName</td>
            <td>@item.Device</td>
            <td>@item.PurchaseDate</td>
            <td>@item.ExpireDate</td>
        </tr>
    }
    <tr class="link">
        <td><a href="/Kassa/NewRegister">Kassa Toevoegen</a></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>