@model PMRegister
<h2>Kassa Overzicht</h2>
<table>
    <tr>
        <td width="200px">@Html.LabelFor(a => a.RegisterName)</td>
        <td width="200px">@Html.LabelFor(a => a.Device)</td>
        <td width="200px">@Html.LabelFor(a => a.PurchaseDate)</td>
        <td width="200px">@Html.LabelFor(a => a.ExpiresDate)</td>
    </tr>
    @foreach (var item in @ViewBag.Register)
    {
        <tr>
            <td>@item.RegisterName</td>
            <td>@item.Device</td>
            <td>@item.PurchaseDate</td>
            <td>@item.ExpiresDate</td>
        </tr>
    }
</table>
<p><a href="/Kassa/NewRegister">Nieuwe Kassa</a></p>
