@model PMRegister
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<h2>Kassa Overzicht</h2>
<p id="amountRegisters"></p>
<table>
    <tr class="header">
        <td>@Html.LabelFor(a => a.RegisterName)</td>
        <td>@Html.LabelFor(a => a.Device)</td>
        <td>@Html.LabelFor(a => a.PurchaseDate)</td>
        <td>@Html.LabelFor(a => a.ExpireDate)</td>
        <td></td>
    </tr>
    @foreach (var item in @ViewBag.Register)
    {
        <tr class="item">
            <td>@item.RegisterName</td>
            <td>@item.Device</td>
            <td>@item.PurchaseDate</td>
            <td>@item.ExpireDate</td>
            <td><a href="/Kassa/Log?id=@item.Id">Logs</a></td>
        </tr>
    }
    <tr class="link">
        <td><a href="/Kassa/NewRegister">Kassa Toevoegen</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<p>
    @foreach (var item in @ViewBag.Numbers)
    {
        <a href="/Kassa/Index?Offset=@item">@item -</a>
    }
</p>
<script>
    $(function () {
        var counters = $.connection.counters;
        $.connection.hub.start().done(function () {
            counters.server.getAmountRegisters();
        });

        counters.client.numberOffRegisters = function (numberOffFiles) {
            $('#amountRegisters').text("Totaal aantal kassa's: " + numberOffFiles);
        }
    });
</script>