@model PMLog
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<h2>Logs Overzicht</h2>
<p id="amountLogs"></p>
<table>
    <tr class="header">
        <td class="longer">@Html.LabelFor(a => a.RegisterName):@Html.LabelFor(a => a.Device)</td>
        <td>@Html.LabelFor(a => a.Timestamp)</td>
        <td>@Html.LabelFor(a => a.Message)</td>
        <td>@Html.LabelFor(a => a.Stacktrace)</td>
    </tr>
    @foreach (var item in @ViewBag.Log)
    {
        <tr class="item">
            <td class="longer">@item.RegisterName:@item.Device</td>
            <td>@item.Timestamp</td>
            <td>@item.Message</td>
            <td>@item.Stacktrace</td>
        </tr>
    }
</table>
<p>
    @foreach (var item in @ViewBag.Numbers)
    {
        if (@item != @ViewBag.Length-1)
        {
            <a href="/Kassa/Logs?Offset=@item">@item</a>
        <span> - </span>
        }
        else
        {
            <a href="/Kassa/Logs?Offset=@item">@item</a>
        }
    }
</p>
<script>
    $(function () {
        var counters = $.connection.counters;
        $.connection.hub.start().done(function () {
            counters.server.getAmountLogs();
        });

        counters.client.numberOffLogs = function (numberOffFiles) {
            $('#amountLogs').text("Totaal aantal Logs: " + numberOffFiles);
        }
    });
</script>

