@model PMOrganisation
<h2>Vereniging Aanpassen</h2>
@using (Html.BeginForm("Edit", "Vereniging", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.DbLogin)
    @Html.HiddenFor(a => a.DbName)
    @Html.HiddenFor(a => a.DbPassword)
    <input type="hidden" value="@Html.DisplayFor(a => a.DbPassword)" name="DbControlePassword" />
    <table class="form">
        <tr>
            <td class="title">Persoonlijke Gegevens</td>
            <td class="title"></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Login)</td>
            <td>@Html.TextBoxFor(a => a.Login, new { placeholder = Html.DisplayNameFor(a => a.Login) })</td>
            @Html.ValidationMessageFor(a => a.Login)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Password)</td>
            <td>@Html.PasswordFor(a => a.Password, new { placeholder = Html.DisplayNameFor(a => a.Password) })</td>
            @Html.ValidationMessageFor(a => a.Password)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.ControlePassword)</td>
            <td>@Html.PasswordFor(a => a.ControlePassword, new { placeholder = Html.DisplayNameFor(a => a.ControlePassword) })</td>
            @Html.ValidationMessageFor(a => a.ControlePassword)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Address)</td>
            <td>@Html.TextBoxFor(a => a.Address, new { placeholder = Html.DisplayNameFor(a => a.Address) })</td>
            @Html.ValidationMessageFor(a => a.Address)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Email)</td>
            <td>@Html.TextBoxFor(a => a.Email, new { placeholder = Html.DisplayNameFor(a => a.Email) })</td>
            @Html.ValidationMessageFor(a => a.Email)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Phone)</td>
            <td>@Html.TextBoxFor(a => a.Phone, new { placeholder = Html.DisplayNameFor(a => a.Phone) })</td>
            @Html.ValidationMessageFor(a => a.Phone)
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.OrganisationName)</td>
            <td>@Html.TextBoxFor(a => a.OrganisationName, new { placeholder = Html.DisplayNameFor(a => a.OrganisationName) })</td>
            @Html.ValidationMessageFor(a => a.OrganisationName)
        </tr>
        <tr>
            <td><input type="submit" name="Update" value="Aanpassen" /></td>
            <td>
                <a href="/Vereniging/Index">
                    <input type="button" value="Keer Terug" />
                </a>
            </td>
        </tr>
    </table>
}

